<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <%- include('./partials/header') %> 

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="<%= usuario.imagenUrl %>" alt="">
                <div class="info-usuario">
                    <p><%= usuario.username %> </p> 
                    <a class="follow" href="">seguir</a>
                    <ul class="meta">
                        <li><%= posteosUsuario.length %> post</li>
                        <li><%= usuario.cantidadSeguidores %> seguidores</li>
                        <li><%= usuario.cantidadSeguidos %> seguidos</li>
                    </ul>
                </div>
            </section>
            <section class="posteosMiPerfil">
                <% for( let i = 0; i < posteosUsuario.length; i++ ) { %>
                    <article class="post">
                        <a href="/posteo/detalle/id/<%= posteosUsuario[i].id %> ">
                            <img src="<%= posteosUsuario[i].imagenUrl %>" alt="">
                        </a>
                    </article>
                <% } %>
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %> 


</body>

</html>