<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <% if (locals.user != undefined) { %>
            <%- include('./partials/headerLog') %> 
       %> <% } else { %>
        <%- include('./partials/header') %> 
        <% } %>

            <main>
                <div class="post-detail container">
                    <section class="center main-content post">
                        <div class="info-usuario">
                            <img class="profile" src="/images/Usuarios/<%= posteo.usuario.foto %> " alt="">
                            <p><a href="/usuario/detalle/id/<%= posteo.id_usuario %> ">
                                    <%= posteo.usuario.usuario %>
                                </a></p>
                        </div>
                        <img class="photo" src="/images/Posteos/<%= posteo.imagen_url %> " alt="">
                        <div class="post-comentarios">
                            <form action="/posteo/detalle/like" method="post">
                                <input type="text" value="<%= posteo.id %>" hidden  name="idPosteo">
                                <button class="like" type="submit">Like</button>
                            </form>
                            <p><%= posteo.likes.length %></p>
                            <h4 class="post-comentarios">Descripcion</h4>
                            <p class="titulo">
                                <%= posteo.descripcion %>
                            </p>
                        </div>

                    </section>
                    <section class="right">
                        <h4>Comentarios</h4>
                        <section class="comments">
                            <form action="/posteo/detalle/comentarios" method = "POST" class="comment-form">
                                <input type="text" class="input" name = "texto" placeholder="Agregar comentario" required>
                                <input type="hidden" value="<%= posteo.id %>" name="id_posteo">
                                <button type="submit">Comentar</button>
                            </form>

                            <div class ="cuerpoComentarios">

                                <% if (comentarios.length > 0) { %>
                                    <% if (posteo.comentarios.length>8) { %>
                                        <% for( let i=0; i < 8; i++ ) { %>
                                            <article class="comment">
                                                <img src="/images/Usuarios/<%= comentarios[i].usuario.foto %> " class="imgComentario" alt="">
                                                <section class="content">
                                                    <a class="user" href="/usuario/detalle/id/<%= comentarios[i].usuario.id %> ">
                                                        <%= comentarios[i].usuario.usuario %>
                                                    </a>
                                                    <span class="text">
                                                        <%= comentarios[i].texto %>
                                                    </span>
                                                </section>
                                            </article>
                                            <% } %> 
                                     <% } else { %>
                                        <% for( let i=0; i < comentarios.length; i++ ) { %>
                                            <article class="comment">
                                                <img src="/images/Usuarios/<%= comentarios[i].usuario.foto %> " class="imgComentario" alt="">
                                                <section class="content">
                                                    <a class="user" href="/usuario/detalle/id/<%= comentarios[i].usuario.id %> ">
                                                        <%= comentarios[i].usuario.usuario %>
                                                    </a>
                                                    <span class="text">
                                                        <%= comentarios[i].texto %>
                                                    </span>
                                                </section>
                                            </article>
                                            <% } %> 
                                    <% } %>

                                    
                                <% } else { %>
                                    <p>Se el primero en comentar!</p>
                                 <% } %> 
                        

                            </div>
                        </section>
                    </section>
                    
                </div>
                <% if (locals.user != undefined && locals.user.id == posteo.id_usuario ) { %>
                    <div class="post-detail container margenes">
                        <form action="/posteo/update" method = "get" class="comment-form">
                            <input type="text" hidden name="id_posteo" value="<%= posteo.id %>" >
                            <button type="submit" class="btnPosteo">Editar Posteo</button>
                        </form>
                            <form action="/" method = "get" class="comment-form">
                                <button type="submit" class="btnPosteo">Borrar Posteo</button>
                            </form>
    
                    </div>    
                <% } %>
                
                
            </main>

            <%- include('./partials/footer') %>


    </body>

</html>