<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <% if (locals.user != undefined) { %>
        <%- include('./partials/headerLog') %> 
   %> <% } else { %>
    <%- include('./partials/header') %> 
    <% } %>
    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="/images/Usuarios/<%= usuario.foto %>" alt="">
                <div class="info-usuario">
                    <p><%= usuario.usuario %> </p> 
                    <% if (locals.user != undefined) { %>
                        <form action="/usuario/seguir" method="post">
                            <input type="text" value="<%= usuario.id %> " hidden  name="idPerfil">
                            <button class="follow" type="sublit">seguir </button>
                        </form>
                    <% } %>
                    <ul class="meta">
                        <li><%= usuario.posteo.length %> post</li>
                        <li><%= followers.length %> seguidores</li>
                        <li><%= usuario.following.length %> seguidos</li>
                    </ul>
                </div>
            </section>
            <section class="posteosMiPerfil">
                <% for( let i = 0; i < usuario.posteo.length; i++ ) { %>
                    <article class="post">
                        <a href="/posteo/detalle/id/<%= usuario.posteo[i].id %> ">
                            <img src="/images/Posteos/<%= usuario.posteo[i].imagen_url %>" alt="">
                        </a>
                    </article>
                <% } %>
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %> 


</body>

</html>