<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <% if (locals.user != undefined) { %>
        <%- include('./partials/headerLog') %> 
   %> <% } else { %>
    <%- include('./partials/header') %> 
    <% } %>
    <main>
        <section class="centerMain-content">
            <h1>Editar Posteo</h1>
            <form action="/posteo/update" method="post" class="loginForm">
                <label  class = "campo" for="text">Titulo</label>
                <input class = "campo" type="text" name="nombre" id="nombre" placeholder="Ej: Gatos" value="<%= posteo.nombre %>" required >
        
                <label  class = "campo" for="text">Descripcion</label>
                <input class = "campo" type="text" name="descripcion" id="descripcion" placeholder="Descripcion" value="<%= posteo.descripcion %>" required>

                <input class = "campo" hidden type="text" name="imagen_url" id="imagenUrl" placeholder="URL" value="<%= posteo.imagen_url %>">

                <input type="text" hidden name="id_usuario" value="<%= posteo.id_usuario %> ">
                <input type="text" hidden name="id" value="<%= posteo.id%> ">
        
                <button  class = "campo" type="submit" class="loginButton">Editar Posteo</button>
        
            </form>
        </section>
    </main>

    <%- include('./partials/footer') %> 


</body>

</html>