<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 
    
<body>
    <%- include('./partials/header') %> 
    <main>
        <section class="center main-content">
            <% for( let i = 0; i < datos.length; i++ ) { %>
                <article class="post">
                    <div class="info-usuario ">
                        <img class = "imgComentario"src=<%= datos[i].imagenUrlAutor %> alt="">
                        <h4>
                            <a href="/usuario/detalle/id/<%= datos[i].idAutor %> "> <%= datos[i].usuarioAutor %> </a>
                        </h4>
                    </div>
                    <div class="post-body">
                        <a href="/posteo/detalle/id/<%= datos[i].id%>">
                            <img src="<%= datos[i].imagenUrl %> " alt="">
                        </a>
                    </div>
                    <ul class="post-reacciones">
                        <li>
                            <i class="fa-regular fa-heart"></i>
                        </li>
                        <li>
                            <i class="fa-regular fa-comment"></i>
                        </li>
                    </ul>
                    <div class="post-comentarios">
                        <h4>Comentarios</h4>
                        <ul>
                            <% for( let i3 = 0; i3 < 3; i3++ ) { %>
                                <li>
                                    <a href="/usuario/detalle/id/<%= comentarios[i3].idUsuario %>"><%= comentarios[i3].usuarioAutor %></a>
                                    <span><%= comentarios[i3].texto %></span>
                                </li>
                            <% } %>
                                
                            
                            <a href="/posteo/detalle/id/<%= datos[i].id%>">Ver más...</a>
                        </ul>
                    </div>
                </article>
            <% } %>
            
        </section>    
    </main>

    <%- include('./partials/footer') %> 



</body>

</html>