<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <% if (locals.user != undefined) { %>
        <%- include('./partials/headerLog') %> 
   %> <% } else { %>
    <%- include('./partials/header') %> 
    <% } %>

    <main>
        <section class="center main-content">
        <h1>Resultados de búsqueda: <%= buscado %> </h1>
        
        </section>

        <% if (datos.length >= 1 ) { %>
            <% for( let i = 0; i < datos.length; i++ ) { %>
                
                <article class="post">
                    <div class="info-usuario ">
                        <img class = "imgComentario" src="/images/Usuarios/<%= datos[i].usuario.foto %>" alt="">
                        <h4>
                            <a href="/usuario/detalle/id/<%= datos[i].usuario.id %> "> <%= datos[i].usuario.usuario %> </a>
                        </h4>
                    </div>
                    <div class="post-body tamanoImg">
                        <a href="/posteo/detalle/id/<%= datos[i].id%>">
                            <img  src="/images/Posteos/<%= datos[i].imagen_url %> " alt="">
                        </a>
                    </div>
                    <ul class="post-reacciones">
                        <li>
                            <i class="fa-regular fa-heart"></i>
                        </li>
                        <li>
                            <i class="fa-regular fa-comment"></i>
                        </li>
                    </ul>
                    <div class="post-comentarios">
                        <h4>Descripcion</h4>
                        <p><%= datos[i].descripcion %> </p>
                    </div>
                    <div class="post-comentarios">
                        <h4>Comentarios</h4>
                        <ul>
                            <% for( let j = 0; j < datos[i].comentarios.length; j++ ) { %>
                                <li>
                                    <a href="/usuario/detalle/id/<%= datos[i].comentarios[j].id_usuario %>"><%= datos[i].comentarios[j].usuario.usuario %></a>
                                    <span><%= datos[i].comentarios[j].texto %></span>
                                </li>
                            <% } %>
                            
                            <a href="/posteo/detalle/id/<%= datos[i].id%>">Ver más...</a>
                        </ul>
                    </div>
                </article>
            <% } %>
         <% } else { %>
         <h2>No se econtraron resultados para tu busqueda</h2>
            <% } %>
    </main>
    <%- include('./partials/footer') %> 
</body>

</html>